:root {
  --primary-color: #313f45;
  --color: #1aed8b;
  --color2: #fff;
  --background: #0a3b4d;
  --shadow: 3px 1px 20px #1aed8b;
  --shadow2:  rgba(0, 0, 0, 0.7) 0px 2px 20px, rgba(0, 0, 0, 0.7) 0px 3px 10px;
  --shadow3: rgba(0, 0, 0, 0.7) 0px 1px 48px, rgba(0, 0, 0, 0.7) 0px 1px 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 10px;
  padding: 5%;
  background-color: var(--background);
  font-size: smaller;
}

main {
  display: flex;
  flex-direction: row;
  padding: 5%;
}

footer {
  text-align: center;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  color: var(--color);
  text-align: center;
}

h2 {
  color: var(--color2);
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#left {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-right: 10%;
  color: var(--color2);
}

#right {
  display: flex;
  width: 25%;
  flex-direction: column;
  color: var(--color2);
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.scores {
  background-color: var(--background);
  height: 50%;
  overflow-y: auto;
  margin-top: 50px;
  box-shadow: var(--shadow3);
  border-radius: 20px;
  padding: 30px;
}

.scores::-webkit-scrollbar {
  display: none;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.input {
  margin-bottom: 15%;
  height: 2rem;
  font-size: small;
  padding: 3px;
  outline: none;
  color: var(--color2);
  background-color: #0a3b4d;
  border: none;
  box-shadow: var(--shadow2);
  border-radius: 20px;
  text-align: center;
}

.input::placeholder {
  color: var(--color2);
  text-align: center;
}

.btn {
  padding: 3px 10px;
  box-shadow: var(--shadow3);
  border-radius: 15px;
  align-self: end;
  color: var(--color2);
  background: #0a3b4d;
  border: none;
}

.input:focus  {
  box-shadow: var(--shadow);
}

.scores:hover, .scores:focus {
  box-shadow: var(--shadow);
}

.btn:active {
  box-shadow: var(--shadow);
}

footer p {
  font-size: larger;
  color: #1aed8b;
}

@media screen and (min-width: 480px) {
  body {
    font-size: larger;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .score {
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
  }

  .input {
    height: 2.5rem;
    font-size: large;
  }

  .btn {
    width: 7rem;
    height: 2.5rem;
    font-size: larger;
    padding: 5px 15px;
  }
}
