* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 10px;
  padding: 5%;
  background-image: url('images/pexels-photo-531880.jpeg');
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: smaller; 
  }

main {
  display: flex;
  flex-direction: row;
  width: 85%;
  padding: 5%;
}

footer {
  text-align: center;
  margin-top: 20%;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.2rem;
  color: #66fcf1;
}

h2 {
  color: #ff652f;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

#left {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-right: 8%;
}

#right {
  display: flex;
  width: 40%;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
}

.scores {
  border: 3px solid #000;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.score:nth-child(even) {
  color: #da7b93;
}

.score:nth-child(odd) {
  background-color: rgba(171, 228, 15, 0.826);
}

.input {
  margin-bottom: 15%;
  height: 2rem;
  font-size: medium;
  border-radius: 10px;
  outline: none;
  background-color: whitesmoke;
}

.btn {
  padding: 3px 10px;
  box-shadow: 2px 3px #000;
  align-self: end;
  color: #313133;
  background: rgba(171, 228, 15, 0.826);
  border: none;
  border-radius: 15px;
  }

footer p {
  font-size: larger;
  color: #66fcf1;
}

@media screen and (min-width: 480px) {
  body {
    font-size: larger;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .score {
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
  }

  .input {
    height: 2.5rem;
  font-size: large;
  }

  .btn {
    width: 7rem;
    height: 2.5rem;
  font-size: larger;
  padding: 5px 15px;

  }
}