* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 10px;
  padding: 5%;
}

main {
  display: flex;
  flex-direction: row;
  width: 85%;
  padding: 5%;
}

footer {
  width: 100%;
  text-align: center;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3.2rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

#left {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-right: 8%;
}

#right {
  display: flex;
  width: 40%;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
}

.scores {
  border: 3px solid #000;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bolder;
}


.score:nth-child(even) {
  background-color: #ccc;
}

.input {
  margin-bottom: 15%;
  height: 2.5rem;
}

.btn {
  padding: 3px 10px;
  box-shadow: 2px 3px #000;
  align-self: end;
}

